<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui somme nous?</title>
</head>
<body>
    
    <h1>qui somme nous?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Minus, velit quod fuga at unde nisi dignissimos voluptate 
        sunt debitis non. Ullam ad dolorem repellendus exercitationem 
        officiis odio, eveniet numquam ex ipsam explicabo unde eius est 
        ea aspernatur architecto animi in.</p>

</body>
</html>